In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [4]:
df = pd.read_csv("C:\Users\Lenovo\PycharmProjects\Project\Data\crunchbase-investments.csv", encoding='unicode_escape',low_memory=False)
df.info()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2829684950.py, line 1)

In [6]:
df

,company_permalink,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_category_code,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
0,/company/advercar,AdverCar,advertising,USA,CA,SF Bay,San Francisco,/company/1-800-flowers-com,1-800-FLOWERS.COM,NaN,USA,NY,New York,New York,series-a,2012-10-30,2012-10,2012-Q4,2012.0,2000000.0
1,/company/launchgram,LaunchGram,news,USA,CA,SF Bay,Mountain View,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-23,2012-01,2012-Q1,2012.0,20000.0
2,/company/utap,uTaP,messaging,USA,NaN,United States - Other,NaN,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-01,2012-01,2012-Q1,2012.0,20000.0
3,/company/zoopshop,ZoopShop,software,USA,OH,Columbus,columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-02-15,2012-02,2012-Q1,2012.0,20000.0
4,/company/efuneral,eFuneral,web,USA,OH,Cleveland,Cleveland,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2011-09-08,2011-09,2011-Q3,2011.0,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52865,/company/garantia-data,Garantia Data,enterprise,USA,CA,SF Bay,Santa Clara,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-a,2012-08-08,2012-08,2012-Q3,2012.0,3800000.0
52866,/company/duda-mobile,DudaMobile,mobile,USA,CA,SF Bay,Palo Alto,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-c+,2013-04-08,2013-04,2013-Q2,2013.0,10300000.0
52867,/company/sitebrains,SiteBrains,software,USA,CA,SF Bay,San Francisco,/person/zohar-israel,zohar israel,NaN,NaN,NaN,unknown,NaN,angel,2010-08-01,2010-08,2010-Q3,2010.0,350000.0
52868,/company/comprehend-systems,Comprehend Systems,enterprise,USA,CA,SF Bay,Palo Alto,/person/zorba-lieberman,Zorba Lieberman,NaN,NaN,NaN,unknown,NaN,series-a,2013-07-11,2013-07,2013-Q3,2013.0,8400000.0
52869,/company/smartthings,SmartThings,mobile,USA,DC,unknown,Minneapolis,/person/zorik-gordon,Zorik Gordon,NaN,NaN,NaN,unknown,NaN,series-a,2012-12-04,2012-12,2012-Q4,2012.0,3000000.0

In [7]:
df.columns

Index(['company_permalink', 'company_name', 'company_category_code',
       'company_country_code', 'company_state_code', 'company_region',
       'company_city', 'investor_permalink', 'investor_name',
       'investor_category_code', 'investor_country_code',
       'investor_state_code', 'investor_region', 'investor_city',
       'funding_round_type', 'funded_at', 'funded_month', 'funded_quarter',
       'funded_year', 'raised_amount_usd'],
      dtype='object')

In [8]:
df=df.drop(['company_permalink','investor_permalink',
       'company_country_code', 'company_state_code',
       'company_city','investor_category_code',
       'funded_at', 'funded_month', 'funded_quarter',
       'funded_year','raised_amount_usd'],axis=1)

In [9]:
df.head()

,company_name,company_category_code,company_region,investor_name,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type
0,AdverCar,advertising,SF Bay,1-800-FLOWERS.COM,USA,NY,New York,New York,series-a
1,LaunchGram,news,SF Bay,10Xelerator,USA,OH,Columbus,Columbus,other
2,uTaP,messaging,United States - Other,10Xelerator,USA,OH,Columbus,Columbus,other
3,ZoopShop,software,Columbus,10Xelerator,USA,OH,Columbus,Columbus,angel
4,eFuneral,web,Cleveland,10Xelerator,USA,OH,Columbus,Columbus,other

In [10]:
df.nunique()

company_name             11573
company_category_code       43
company_region             546
investor_name            10465
investor_country_code       72
investor_state_code         50
investor_region            585
investor_city              990
funding_round_type           9
dtype: int64

In [11]:
df.isnull().sum()

company_name                 1
company_category_code      643
company_region               1
investor_name                2
investor_country_code    12001
investor_state_code      16809
investor_region              2
investor_city            12480
funding_round_type           3
dtype: int64

In [12]:
df=df.dropna(axis=0, subset=['company_category_code','company_region','funding_round_type','company_name','investor_name','investor_region'])

In [13]:
df

,company_name,company_category_code,company_region,investor_name,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type
0,AdverCar,advertising,SF Bay,1-800-FLOWERS.COM,USA,NY,New York,New York,series-a
1,LaunchGram,news,SF Bay,10Xelerator,USA,OH,Columbus,Columbus,other
2,uTaP,messaging,United States - Other,10Xelerator,USA,OH,Columbus,Columbus,other
3,ZoopShop,software,Columbus,10Xelerator,USA,OH,Columbus,Columbus,angel
4,eFuneral,web,Cleveland,10Xelerator,USA,OH,Columbus,Columbus,other
...,...,...,...,...,...,...,...,...,...
52865,Garantia Data,enterprise,SF Bay,Zohar Gilon,NaN,NaN,unknown,NaN,series-a
52866,DudaMobile,mobile,SF Bay,Zohar Gilon,NaN,NaN,unknown,NaN,series-c+
52867,SiteBrains,software,SF Bay,zohar israel,NaN,NaN,unknown,NaN,angel
52868,Comprehend Systems,enterprise,SF Bay,Zorba Lieberman,NaN,NaN,unknown,NaN,series-a
52869,SmartThings,mobile,unknown,Zorik Gordon,NaN,NaN,unknown,NaN,series-a

In [14]:
df.duplicated().sum()

3844

In [15]:
df = df.drop_duplicates(subset='investor_name', keep='first')

In [16]:
df.duplicated().sum()

0

In [17]:
df1=df

In [18]:
df1.shape

(10392, 9)

In [19]:
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [20]:
df.columns

Index(['company_name', 'company_category_code', 'company_region',
       'investor_name', 'investor_country_code', 'investor_state_code',
       'investor_region', 'investor_city', 'funding_round_type'],
      dtype='object')

# Content Based Recommender System

In [21]:
features =['company_name', 'company_category_code', 'company_region',
       'investor_country_code', 'investor_state_code',
       'investor_region', 'investor_city', 'funding_round_type']

In [22]:
for feature in features:
    df[feature] = df[feature].apply(clean_data)

In [23]:
df1.head()

,company_name,company_category_code,company_region,investor_name,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type
0,advercar,advertising,sfbay,1-800-flowers.com,usa,ny,newyork,newyork,series-a
1,launchgram,news,sfbay,10xelerator,usa,oh,columbus,columbus,other
8,toviefor,ecommerce,newyork,2010nyusternbusinessplancompetition,,,unknown,,angel
9,ohklabs,sports,palmbeach,22hundredgroup,,,unknown,,angel
10,lovely,real_estate,sfbay,3taps,usa,ca,sfbay,sanfrancisco,series-a

In [24]:
df['metric'] =df[['company_name', 'company_category_code', 'company_region',
        'investor_country_code', 'investor_state_code',
       'investor_region', 'investor_city', 'funding_round_type']].apply(lambda x: " ".join(x), axis=1)

In [25]:
df1.metric[1]

'launchgram news sfbay usa oh columbus columbus other'

In [26]:
df2=df1.drop(['company_name', 'company_category_code', 'company_region',
        'investor_country_code', 'investor_state_code',
        'investor_region', 'investor_city', 'funding_round_type'],axis=1)

In [27]:
df2.tail()

        investor_name                                             metric
52862        zodnazem  comprehendsystems enterprise sfbay   unknown  ...
52863      zohargilon         payoneer other newyork   unknown  series-a
52867     zoharisrael         sitebrains software sfbay   unknown  angel
52868  zorbalieberman  comprehendsystems enterprise sfbay   unknown  ...
52869     zorikgordon     smartthings mobile unknown   unknown  series-a

In [28]:
from sklearn.feature_extraction.text import CountVectorizer

In [29]:
cv = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
cv_matrix = cv.fit_transform(df2['metric'])
cv_matrix.shape

(10392, 17405)

In [30]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(cv_matrix, cv_matrix)

In [31]:
cosine_sim[30]

array([0.24253563, 0.        , 0.33333333, ..., 0.22222222, 0.33333333,
       0.40201513])

In [32]:
df2= df2.reset_index()
indices = pd.Series(df2.index, index=df2['investor_name'])

In [33]:
def get_recommendations(investor_name, cosine_sim=cosine_sim):
    idx = indices[investor_name]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    investor_indices = [i[0] for i in sim_scores]
    return df['investor_name'].iloc[investor_indices]

In [34]:
get_recommendations("zorikgordon", cosine_sim)

50033            nathanhanks
52869            zorikgordon
45340            chrismiller
1446     kegonsatechnologies
15278          fanisicapital
23513         kalaaricapital
47805             jeffparker
45104         brianvalentine
45475            colebrodman
46354               dougdoan
Name: investor_name, dtype: object

In [35]:
get_recommendations("kegonsatechnologies", cosine_sim)

15278             fanisicapital
23513            kalaaricapital
47805                jeffparker
49020                loiclemeur
50033               nathanhanks
52869               zorikgordon
598               charlesschwab
1251                holtzbrinck
1865     northwesternuniversity
2303          signetenterprises
Name: investor_name, dtype: object

In [36]:
df['investor_name'][15278]

'fanisicapital'

In [37]:
df['metric'][15278]

'halton hardware unknown   unknown  series-a'

In [38]:
df['investor_name'][1251]

'holtzbrinck'

In [39]:
df['metric'][1251]

'proximic analytics sfbay   unknown  series-a'

In [40]:
df['investor_name'][2303]

'signetenterprises'

In [41]:
df['metric'][2303]

'northeastohiomedicaluniversity education unknown   unknown  other'

In [41]:
import pickle
pickle.dump(df,open('models/investors.pkl','wb'))
pickle.dump(df2,open('models/invetor_method.pkl','wb'))
pickle.dump(cosine_sim,open('models/investor_cosine_sim.pkl','wb'))